@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(116, 216, 255);
}
.container {
    width: 80%;
    margin: 5px auto;
    height: 98vh;    
    background-color: #fff;
    box-shadow: 0px 0px 15px rgb(0, 10, 95);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.heading {
    text-align: center;
    margin-bottom: 35px;
}
.heading h1 {
    font-family: 'Irish Grover', cursive;
    font-size: 45px;
}
.heading h3 {
    font-family: 'Festive', cursive;
    font-size: large;
}
.container .hangman .box {
    margin-top: -55px;
    /* background-color: rgb(248, 192, 192); */
    width: 65px;
    height: 150px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    /* border-right: 5px solid black; */
    position: relative;
}
#face {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid lightgray;
    position: absolute;
    right: -22px;
}
#hand {
    width: 100px;
    height: 3px;
    border: 3px solid lightgray;
    position: absolute;
    top: 48px;
    right: -45px;
}
#legs {
    width: 50px;
    height: 50px;
    border-top: 5px solid lightgray;
    border-left: 5px solid lightgray;
    border-right: 5px solid lightgray;
    position: absolute;
    bottom: 5px;
    right: -23px;
}
#body {
    width: 3px;
    height: 45px;
    border: 3px solid lightgray;
    position: absolute;
    top: 50px;
    right: 0px;
}
#bottom {
    width: 180px;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    right: -50px;
}
.userInput {
    display: block;
}
.userInput #yourGuess {
    font-weight: bold;
    color: white;
    background-color: rgb(173, 173, 250);
    padding: 8px 12px;
    border-radius: 20px;
}
.userInput #userGuess {
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: large;
    letter-spacing: 5px;
    /* background-color: yellow; */
    text-align: center;
    /* border-bottom: 5px dashed rgb(155, 141, 141); */
    pointer-events: none;
}
.alphabate {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alphabate .card {
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    /* padding-left: 22px; */
    border: 3px solid rgb(100, 110, 255);
    outline: none;
    cursor: pointer;
    background-color: rgb(100, 110, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5px;
}
.alphabate .card:hover {
    background-color: transparent;
    color: rgb(100, 110, 225);
    font-size: larger;
}
#win {
    /* background-color: rgb(165, 252, 237); */
    padding: 20px;
    font-size: 45px;
    font-weight: bold;
    text-transform: capitalize;
    color: green;
    font-family: 'Rampart One', cursive;
    display: none;
}
.top, .down {
    display: flex;
    flex-direction: row;
}
.last button {
    margin: 10px 0;
    padding: 5px 12px;
    border: 3px solid rgb(11, 11, 218);
    color: rgb(11, 11, 218);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.last button:hover {
    background-color: rgb(11, 11, 218);
    color: white;
}