* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merienda One', cursive;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(180deg, rgb(18, 17, 26), rgb(31, 41, 47));
}
.container {
    
}
.main {
    /* margin: -15px 0px 0px 0px; */
    overflow-x: hidden;
    padding: 0;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-clip: content-box;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px auto;
    font-size: x-large;
    padding: 10px;
    width: 80%;
}
.nav h2 {
    margin: 0px 22px;
    color: white;
}
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0px 22px;
}
.navBar a{
    margin: 0px 18px;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.navBar a:hover {
    color: rgb(0, 162, 255);
    border-bottom: 2px solid rgb(0, 162, 255);
}
.context {
    color: white;
    font-size: larger;
    font-family: 'Merienda One', cursive;
    position: absolute;
    top: 250px;
    left: 120px;
}
.context a{
    color: white;
    text-decoration: underline;
    background-color: rgb(0, 162, 255);
    margin: 3px;
    padding: 5px 8px;
}

/* ------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
#about {
    padding: 12px;
    background-color: rgb(36, 35, 35);
    margin: 22px;
}
.about .head {
    text-align: center;
    font-size: 45px;
    color: rgb(155, 255, 255);
    /* font-family: 'Fjalla One', sans-serif; */
}
.abt-main {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-text {

}





/* ------------------------------------------------------------------ */


/* ------------------------------------------------------------------ */

.skills {
    background: rgb(0, 6, 37);
    margin: 22px;
}
.skills h1, .project h1 {
    color: white;
    font-size: 45px;
    text-align: center;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row1, .row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card {
    border-radius: 20px;
    background:rgb(0, 162, 255);
    padding: 12px 10px 20px 10px;
    margin: 10px 25px;
}
.card img {
    display: flex;
    margin: auto;
    border-radius: 20px;
}
.card #skillText, .card #projectText {
    text-align: center;
}
.card #star {
    display: flex;
    justify-content: center;
    color: rgb(230, 176, 2);
}

.project {
    background: rgb(11, 202, 154);
    margin: 22px;
}
.project .card {
    border-radius: 20px;
    background:rgb(0, 247, 255);
    padding: 12px 10px 20px 10px;
    margin: 10px 25px;
}
.project .cards .card a {
    text-decoration: none;
}
.project .card #star {
    color: rgb(246, 99, 0);
}
.project .cards .card a img:hover {
    width: 150px;
}







/* ------------------------------------------------------------------ */

.contact {
    background-color: black;
    color: white;
}
.contact h1 {
    text-align: center;
    padding: 12px;
    font-size: 45px;
    text-decoration: double underline;
}
.contact h5 {
    text-align: center;
    font-size: 15px;
}
.sap {
    display: flex;
    flex-direction: row;justify-content: center;
    padding: 22px;
}
.sap .left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sap .left a {
    text-decoration: none;
    color: white;
    font-size: larger;
}
.sap .right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sap .right form #name, .sap .right form textarea{
    background: rgb(194, 194, 194);
    border: none;
    outline: none;
    padding: 8px 18px;
    color: rgb(0, 0, 0);
    margin: 8px;
    min-width: 540px;
    border-radius: 0px 20px 0px 20px;
}
#send-btn {
    background: cyan;
    padding: 8px 15px;
    width: 150px;
    border: navajowhite;
    outline: none;
    cursor: pointer;
    margin: 0 50% 0 35%;
    border-radius: 20px;
    border: 2px solid cyan;
    font-weight: bold;
}
#send-btn:hover {
    background: transparent;
    color: cyan;
    border: 2px solid cyan;
}


footer {
    background: black;
}
footer p {
    text-align: center;
    color: cyan;
    padding: 10px 0;
}
footer p a{
    color: cyan;
    cursor: pointer;
}
footer p span a {
    color: white;
    display: flex;
    justify-content: end;
    padding: 0px 22px;
}